includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
    level: max
    paths:
        - "%currentWorkingDirectory%/Classes"
        - "%currentWorkingDirectory%/action"
        - "%currentWorkingDirectory%/filter"
        - "%currentWorkingDirectory%/hooks"
        - "%currentWorkingDirectory%/indexer"
        - "%currentWorkingDirectory%/interface"
        - "%currentWorkingDirectory%/marker"
        - "%currentWorkingDirectory%/model"
        - "%currentWorkingDirectory%/scheduler"
        - "%currentWorkingDirectory%/search"
        - "%currentWorkingDirectory%/service"
        - "%currentWorkingDirectory%/signalSlotDispatcher"
        - "%currentWorkingDirectory%/util"
        - "%currentWorkingDirectory%/view"
    bootstrap: %rootDir%/../../saschaegerer/phpstan-typo3/src/PhpstanTypo3Bootstrap.php
    excludes_analyse:
        - %currentWorkingDirectory%/Classes/ViewHelpers/Format/HtmlViewHelper.php
        - %currentWorkingDirectory%/indexer/seminars
    ignoreErrors:
        -
            message: '/Parameter \$configurationReader of method DMK\\Mksearch\\Hooks\\RealUrlConfigurationReader::addMksearchToBannedUrlsRegExp\(\) has invalid typehint type/'
            path: %currentWorkingDirectory%/Classes/Hooks/RealUrlConfigurationReader.php
        -
            message: '/Call to method get\(\) on an unknown class DmitryDulepov\\Realurl\\Configuration\\ConfigurationReader\./'
            path: %currentWorkingDirectory%/Classes/Hooks/RealUrlConfigurationReader.php
        -
            message: '/Call to an undefined static method TYPO3\\CMS\\Fluid\\ViewHelpers\\Format\\CropViewHelper::[a-zA-Z]+\(\)\./'
            path: %currentWorkingDirectory%/Classes/ViewHelpers/Format/CropViewHelper.php
        -
            message: '/Access to an undefined property object::\$[a-z]+\./'
            path: %currentWorkingDirectory%/Classes/ViewHelpers/CObjectViewHelper.php
        -
            message: '/Call to static method setMinPrefixLength\(\) on an unknown class Zend_Search_Lucene_Search_Query_Wildcard\./'
            path: %currentWorkingDirectory%/filter/class.tx_mksearch_filter_LuceneBase.php
        -
            message: '/ Zend_/'
            path: %currentWorkingDirectory%/service/engine/class.tx_mksearch_service_engine_ZendLucene.php

        -
            message: '/Undefined variable: \$_EXTKEY/'
            path: %currentWorkingDirectory%/service/ext_localconf.php

